body {
    background-color: #f7f7f7;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

h1 {
    text-align: center;
    padding: 10px 0;
}
h3 {
    text-align: center;
    padding: 10px 0;
}

.game-container {
    width: 800px;
    margin: 0 auto;
    background-color: #fff;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.status-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.hero-container,
.villain-container {
    flex-basis: 45%;
}

.log-container {
    background-color: #f3f3f3;
    padding: 10px;
    border-radius: 5px;
    height: 300px;
    overflow: auto;
    margin-bottom: 20px;
}

.action-container {
    text-align: center;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 5px;
    background-color: #4caf50;
    color: #fff;
    border: none;
    cursor: pointer;
}

button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
}

.hud {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: #f0f0f0;
    font-family: Arial, sans-serif;
    font-size: 16px;
}

.health-bar {
    height: 20px;
    background-color: #ff0000;
    border-radius: 4px;
    overflow: hidden;
}

.health-bar-fill {
    height: 100%;
    transition: width 0.3s ease-in-out;
}